<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>DubakTestServlet</display-name>
    
    <welcome-file-list>
        <welcome-file>start.jsp</welcome-file>
    </welcome-file-list>


    <servlet>
        <servlet-name>Integers</servlet-name>
        <servlet-class>dubakControllersPack.IntegersController</servlet-class>
    </servlet>      
    <servlet-mapping>
        <servlet-name>Integers</servlet-name>
        <url-pattern>/integers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Arrays</servlet-name>
        <servlet-class>dubakControllersPack.ArraysController</servlet-class>
    </servlet>          
    <servlet-mapping>
        <servlet-name>Arrays</servlet-name>
        <url-pattern>/arrays</url-pattern>
    </servlet-mapping>
    
            
</web-app>